@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body{
  background-color:lightgray;
}

header{
  width: 100%;
  position:relative;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar{
  width: 100%;
  justify-content: space-between;
  /* position: elative; */
  top: 0;
  display: flex;
  /* align-items: center; */
  background-color: rgb(14, 14, 14);
}

.navbar button{
  background-color: rgb(210, 159, 28);
}

ul{
  display: flex;
  gap: 3em;
  flex-grow: wrap;
}
ul li{
  flex-grow: 1;
}
hr{
  color: rgb(94, 94, 94);
}

i{
  color: white;
}

.nav-links{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
@media(max-width:768px){
  html{
    font-size: 68%;
  }
  .nav-bar .nav-links{
    width: 100%;
    margin-left: 0px;
    left: 0;
  }
  ul{
    gap: 1em;
  }

  .nav-bar .nav-links li a{
    font: bold 20px;
    font-weight: 100;
  }
  .nav-links{

  }
  .nav-links .btns{
    width: 25%;
    justify-content: space-between;
    display:flex;
    padding-right: 0;
    margin-right: 0;
  }

  .btns .sign_up, .btns .log_in{
    width: 65px;
    height: 23px;
  }
  .nav-bar .nav-links .log_in{
    margin-left: 0;
  }
}

@media(max-width:1098px){
  .nav-links{
    width: 65%;
  }
  ul{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-grow: wrap;
  }
  .btns{
    width: 30%;
    justify-content: space-evenly;
  }
  .sign_up, .log_in{
    margin-right: 0px;
    border-radius: 40px;
    width: 85px;
    height: 35px;
  }
}

@media (max-width: 750px) {
  .nav-links .btns{
    width: 30%;
    justify-content: center;
  }
  .nav-links{
    justify-content: right;
  }

}

.sign_up{
  margin-right: 0px;
}

/* .nav-links::lastchild{

} */

.navbar .logo{
  margin: 20px;
  display: column;
}

.logo p {
  shape-outside: border-box;
}
.nav-links a{
  text-decoration: none;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font: bold 35px;
  font-weight: 450;

}

.nav-links li{
  list-style-type: none;
}

button{
  background-color: burlywood;
  border-radius: 30px;
  width: 100px;
  height: 35px;
  margin: 15px;
}

.btns{
  display:flex;
  justify-content: center;
  width: 50%;
}

.hero-section{
  background-image: url(./images/IMG-20240511-WA0003.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0.8;

}

.hero .hero-img{
  display: block;
  width: 100%;
}

.hero-text{
  font-family: Poppins;
    font-size: 3rem;
    width: 100%;
    display: flex;
    padding: 70px 0;
}

h2{
  padding:70px 0;
  color:rgb(245, 241, 241)
}

span{
  color: white;
  font-size: 2.2rem;
}

h6{
  font-size: 1.2rem;
  color: white;

}

.hero-text{
  display: flex;
  width: 100%;
}

.hero-text-left{
  margin-right: 30px;
}

.hero-bottom{
  position: absolute;
}

.hero-bottom .blog_btn{
  bottom:0%;
}

.visit_blog_btn{
  position: right;
  margin-right: 0;
}

.input_container{
  display: block;
  /* flex-direction: column; */
  background-color: transparent;
  width: 400px;
  margin-left: 100px;
  height: 200px;
  padding-top: 70px;
  position: relative;
}
.input-field{
  display: flex;
  padding: 5px 0;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 10px;
}

.input-field:hover, .active{
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

input{
  /* padding: 70px; */
  width: 70%;
  height: 30px;
}

.sign_in_btn{
  background-color: rgba(0, 0, 0, 0.2);
  color:rgb(245, 241, 241);
  border: 2px solid forestgreen;
  border-radius: 5px;
}

.input_btns span{
  font-size: 20px;
  padding-left: 33px;
}

label{
  margin-right: 7%;
}

/* .hero-section:after{
  content: "";
} */

.container{
  position: relative;
}
.slides{
  display: block;
}
.cursor{
  cursor: pointer;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext{
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container{
  text-align: center;
  background-color:#222;
  padding: 2px 16px;
  color: white;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}
.column{
  float: left;
  width: 16.66%;
}

.demo{
  opacity: 0.6%;
}
.active, .demo:hover{
  opacity: 1;
}
